Repository bachya/pyiqvia, pull requests merged in 2021-06, with the labels that each got.

#46 Remove official support for Python 3.6 and 3.7
  .github/workflows/ci.yaml
  README.md
  pyproject.toml
Labels: breaking change, maintenance

#47 Remove unnecessary type hints
  pyiqvia/allergens.py
  pyiqvia/asthma.py
  pyiqvia/client.py
  pyiqvia/disease.py
Labels: maintenance

#48 Rework timeout logic
  pyiqvia/client.py
  tests/test_client.py
Labels: maintenance

#49 Add a request retry mechanism
  pyiqvia/client.py
  pyiqvia/const.py
  tests/test_client.py
Labels: enhancement

#50 Switch to poetry-core
  pyproject.toml
Labels: maintenance
